body {

    .collapsing.horizontal {
        -webkit-transition-property: width, visibility;
        transition-property: width, visibility;
        width: 0;
        height: auto;
    }

    #header {
        position: sticky;
        top: 0;
        z-index: 1040;
        min-height: 52px;
        width: 100%;
    }

    #flex-layout {
        height: 100%;
        margin: 0px;
        display: flex;
        box-sizing: border-box;

        .column {
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }

        #side-bar {
            flex-shrink: 0;
            justify-content: flex-start;
            position: sticky;
            top: 52px;
            height: calc(100vh - 52px);
            overflow-x: hidden;
            z-index: 1000;
            border-right: 2px solid #ebebeb;
        }

        main {
            flex-grow: 1;
        }
    }
}
