body {
    #not-found {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 100px;
            font-weight: 700;
        }

        h2 {
        }

        p {
            font-size: 15px;
        }

        .error {
            font-size: 13px;
            font-weight: 700;
        }

        .btn {
            padding: 0;
            margin: 0;
            font-size: 15px;
        }
        
    }
}
