body {
    #login {
        padding-top: 60px;
        background: #f9f9f9;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top {
            display: flex;
            flex-direction: column;

            img {
                padding: 15px;
                margin: 0 auto;
                width: auto;
            }

            form {
                background: white;
                border: 1px solid #d9d9d9;
                border-top: 5px solid #4d7496;
                width: 350px;
                margin: 0 auto;
                padding: 10px 30px 15px;

                h1 {
                    text-align: center;
                    font-weight: 400;
                    margin: 20px 0 25px;
                    font-size: 18px;
                }

                .text-input {
                    margin-bottom: 15px;

                    i {
                        color: #d1d1d1;
                        position: absolute;
                        margin: 8px 2px 4px 10px;
                        width: 16px;
                        height: 16px;
                        font-size: 16px;
                        text-align: center;
                    }

                    input {
                        padding: 6px;
                        padding-left: 30px;
                        border: 1px solid #ccc;
                        border-left: 2px solid #4d7496;
                        width: 100%;
                        outline: none;
                        transition: border 0.25s;
                    }

                    input:focus {
                        border-color: #4d7496;
                        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 3px rgba(0, 0, 0, 0.1);
                        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(0, 0, 0, 0.1);
                        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 3px rgba(0, 0, 0, 0.1);
                    }
                }

                label {
                    margin: 0;

                    input[type=checkbox] {
                        margin-right: 5px;
                    }
                }



                .submit-buttons {
                    padding: 10px 0;
                    display: flex;
                    justify-content: space-between;

                    input[type=submit], a {
                        border: 1px solid;
                        padding: 6px 13px;
                        outline: none;
                    }

                    input[type=submit] {
                        color: white;
                        background: #396ac2;
                        border-color: #325ca9;
                    }

                    input[type=submit]:hover {
                        background: #4d77cc;
                    }

                    input[type=submit]:active {
                        background: #335eb2;
                    }

                    a {
                        text-decoration: none;
                        background: #f3f3f3;
                        color: #333;
                        border-color: #d4d4d4;
                    }

                    a:hover {
                        background: #f8f8f8;
                    }

                    a:active {
                        background: #e6e6e6;
                    }
                }

                .account-navlinks {
                    margin: 15px 0;
                    text-align: center;

                    a {
                        padding: 0 5px;
                        color: #4d7496;
                        border-right: 1px solid #333;
                    }

                    a:last-child {
                        border: none;
                    }
                }

                .alert {
                    button {
                        outline: none;
                        padding: 10px;
                    }
                }
            }
        }

        .version {
            width: auto;
            margin-left: auto;
            text-align: right;
            padding: 10px;

            p {
                font-size: 10px;
                margin: 0;
            }
        }
    }
}
